<main class="container-fluid bg-general p-0 min-vh-100">
    <section class="row w-100 min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-5 text-center">
            <img src="../../../../assets/imagenes/logo.png" alt="Logo" width="300px" class="mb-4">
            <div class="card card-body" [formGroup]="loginForm">
                <label for="email" class="form-label text-start">Email</label>
                <input name="email" placeholder="Email" type="text" class="form-control mb-4" formControlName="email">

                <label for="Contraseña" class="form-label text-start">Contraseña</label>
                <input name="Contraseña" placeholder="Contraseña" type="password" class="form-control" formControlName="contraseña">

                <button class="btn btn-primary my-3" (click)="login()">INGRESAR</button>
                <button class="btn btn-secondary mb-4" [routerLink]="STR_AUTH_RECUPERAR">Olvidé mi contraseña</button>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</main>