<div class="row d-flex justify-content-center">
    <article class="col-5 card">
        <div class="card-body">
            <h5 class="d-flex justify-content-between">Tipo de prenda</h5>
            <div class="mb-3">
                <label for="tipoPrenda" class="form-label text-start">Nombre</label>
                <input name="tipoPrenda" placeholder="Tipo de prenda" type="text" class="form-control mb-4">
              </div>
        </div>
        <button class="btn btn-primary col-3 m-auto mb-4" (click)="register()">GUARDAR</button>
    </article>
</div>
