<section class="row ms-3 me-2">
    <div class="col-12 card">
        <div class="card-body row d-flex justify-content-between">
            <div class="col-11">
                <h5>Cliente Nombre</h5>
                <h5 *ngIf="step === 1">Plantas</h5>
                <h5 *ngIf="step === 2">Sectores</h5>
                <h5 *ngIf="step === 3">Gabinetes</h5>
                <p>Selecciona una planta registrada, o registrá una nueva</p>
            </div>
            <button class="btn btn-success col-1" [routerLink]="STR_ABM_GABINETE" (click)="ir()">
                <i class="fa fa-plus"></i>
            </button>

            <div class="row" *ngIf="step === 1">
                <div class="col-12">
                    <ul class="list-group mt-4">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Planta 1
                                </label>
                            </div>
                            <div class="dropdown d-inline">
                                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v icon-gabinete"></i>
                                </button>
                               <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="">Modificar</a></li>
                                  <li><a class="dropdown-item" href="">Eliminar</a></li>
                                </ul>-->
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" *ngIf="step === 2">
                <div class="col-12">
                    <ul class="list-group mt-4">
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Sector Planchado
                                </label>
                            </div>
                            <div class="dropdown d-inline">
                                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v icon-gabinete"></i>
                                </button>
                               <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="">Modificar</a></li>
                                  <li><a class="dropdown-item" href="">Eliminar</a></li>
                                </ul>-->
                            </div> 
                        </li>
                        <li class="list-group-item p-3 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                              <label class="form-check-label" for="flexRadioDefault2">
                                  Sector Planchado
                              </label>
                            </div>
                            <div class="dropdown d-inline">
                                <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v icon-gabinete"></i>
                                </button>
                               <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="">Modificar</a></li>
                                  <li><a class="dropdown-item" href="">Eliminar</a></li>
                                </ul>-->
                            </div> 
                        </li>         
                    </ul>
                </div>
            </div>
            <div class="row" *ngIf="step === 3">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="alias" class="form-label text-start">Alias</label> <br>
                        <input name="alias" placeholder="Alias" type="text" class="form-control mb-4">
                      </div>
                </div>
            </div>

            <div class="row col-12 mt-4">
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary" [disabled]="step === 1" (click)="anterior()">Anterior</button>
                        <button type="button" class="btn btn-secondary" [hidden]="step === 3" (click)="siguiente()">Siguiente</button>
                        <button class="btn btn-primary" *ngIf="step === 3">GUARDAR</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<p class="row col-12 d-flex justify-content-center mt-3">Paso {{step}} de 3</p>